{% extends 'base.html' %}

{% block content %}
<div class="card mb-4">
    {% if ad.image_url %}
    <div class="mb-3" style="max-width: 600px; margin: 20px 510px;">
        <img src="{{ ad.image_url }}" class="img-fluid rounded" alt="{{ ad.title }}" style=" position: relative; left: -500px; vertical-align: middle;">
    </div>
    {% endif %}
    <div class="card-body">
        <h1 class="card-title">{{ ad.title }}</h1>
        <p class="card-text">{{ ad.description }}</p>
        <div class="mb-3">
            <span class="badge bg-secondary">{{ ad.category }}</span>
            <span class="badge bg-info text-dark">{{ ad.condition }}</span>
        </div>
        <p class="text-muted">
            Опубликовано: {{ ad.user.username }} ({{ ad.created_at|date:"d.m.Y" }})
        </p>
        
        {% if user == ad.user %}
            <div class="mt-3">
                <a href="{% url 'ads:update' ad.id %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'ads:delete' ad.id %}" class="btn btn-danger">Удалить</a>
            </div>
        {% elif user != ad.user and user_ad %}
            <a href="{% url 'ads:propose_exchange' ad.id %}?sender_ad_id={{ user_ad.id }}" class="btn btn-success mt-3">Предложить обмен</a>
        {% endif %}
    </div>
</div>
{% endblock %}